version: '3.7'

services:
  web:
    build:
      dockerfile: Dockerfile
      target: dev-local
      context: .
      args:
        PHP_VERSION: $PHP_VERSION
        WORDPRESS_VERSION: $WORDPRESS_VERSION
        WORDPRESS_DOCKER_PHP_VERSION: $WORDPRESS_DOCKER_PHP_VERSION
        WOOCOMMERCE_VERSION: $WOOCOMMERCE_VERSION
        STOREFRONT_VERSION: $STOREFRONT_VERSION
        USER_ID: ${USER_ID:-1000}
        GROUP_ID: ${GROUP_ID:-1000}
    depends_on:
      - db
    ports:
      - 8888:80
    restart: unless-stopped
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: exampleuser
      WORDPRESS_DB_PASSWORD: examplepass
      WORDPRESS_DB_NAME: exampledb
      WORDPRESS_ADMIN_USER: admin
      WORDPRESS_ADMIN_PASSWORD: examplepass
      PHP_IDE_CONFIG: serverName=docker
    volumes:
      - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
      - wp-content:/app/src/wp-content
      - ./tmp/sk-log:/tmp/sk-log:rw
      - ./tmp/sk-tmp:/tmp/storekeeper-for-woocommerce:rw
      - .:/app/src/wp-content/plugins/storekeeper-for-woocommerce:rw

  db:
    image: mysql:5.7
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: exampledb
      MYSQL_USER: exampleuser
      MYSQL_PASSWORD: examplepass
      MYSQL_ROOT_PASSWORD: somerootpassword
    volumes:
      - db:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: unless-stopped
    depends_on:
      - db
    links:
      - db:db
    ports:
      - 8881:80
    environment:
      MYSQL_USERNAME: root
      MYSQL_ROOT_PASSWORD: somerootpassword

volumes:
  db:
  wp-content:
  sk-log:
  sk-tmp:
