<?xml version="1.0"?>
<phpunit
	bootstrap="./bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="false"
	convertWarningsToExceptions="true"
>

	<php>
		<const name="WP_TESTS" value="1" />
	</php>
	<testsuites>
		<testsuite name="all">
			<directory>./unit/</directory>
			<exclude>./unit/SampleTest.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
