name: Create Archive
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get latest tag
        if: ${{ ! startsWith( github.ref, 'refs/tags/' ) }}
        id: version_dev
        run: |
          LAST_VERSION_TAG=`git describe --tags --abbrev=0 --exclude=latest --exclude=development`
          echo ::set-output name=LAST_VERSION_TAG::${LAST_VERSION_TAG}

      - name: Get latest tag
        if: ${{ startsWith( github.ref, 'refs/tags/' ) }}
        id: version_tag
        run: echo ::set-output name=LAST_VERSION_TAG::${GITHUB_REF#refs/*/}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 7.3
          tools: composer
          coverage: none

      - name: Tool versions
        run: |
          php --version
          composer --version

      - name: Install packages
        run: composer install --ignore-platform-reqs --prefer-dist --no-dev --optimize-autoloader

      - name: Apply version with build
        if: ${{ ! startsWith( github.ref, 'refs/tags/' ) }}
        run: |
          php dev-tools/set-version.php ${{ steps.version.outputs.LAST_VERSION_TAG }}-b$GITHUB_RUN_ID storekeeper-woocommerce-b2c.php
          php dev-tools/set-version.php ${{ steps.version.outputs.LAST_VERSION_TAG }}-b$GITHUB_RUN_ID Readme.txt

      - name: Set release version
        if: ${{ startsWith( github.ref, 'refs/tags/' ) }}
        run: |
          php dev-tools/set-version.php ${{ steps.version.outputs.LAST_VERSION_TAG }} storekeeper-woocommerce-b2c.php
          php dev-tools/set-version.php ${{ steps.version.outputs.LAST_VERSION_TAG }} Readme.txt

      - name: Create zip
        run: |
          mkdir storekeeper-for-woocommerce
          ls -a | grep -v  '^storekeeper-for-woocommerce$' | grep -v '^\.*$' | xargs mv -t  storekeeper-for-woocommerce
          zip -r storekeeper-for-woocommerce.zip \
            storekeeper-for-woocommerce/exports \
            storekeeper-for-woocommerce/i18n \
            storekeeper-for-woocommerce/src \
            storekeeper-for-woocommerce/vendor \
            storekeeper-for-woocommerce/composer* \
            storekeeper-for-woocommerce/*.php \
            storekeeper-for-woocommerce/Readme.txt \
            storekeeper-for-woocommerce/.distignore

      - uses: actions/upload-artifact@v2
        with:
          name: storekeeper-for-woocommerce
          if-no-files-found: error
          path: |
            storekeeper-for-woocommerce.zip

      - name: Release latest
        uses: marvinpinto/action-automatic-releases@v1.2.0
        if: github.ref == 'refs/heads/master'
        with:
          prerelease: true
          automatic_release_tag: "development"
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: |
            storekeeper-for-woocommerce.zip

      - name: Release version
        uses: marvinpinto/action-automatic-releases@v1.2.0
        if: ${{ startsWith( github.ref, 'refs/tags/' ) }}
        with:
          prerelease: true
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          files: |
            storekeeper-for-woocommerce.zip
